.Home,
.Home * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Home {
  display: flex;
  flex-direction: column;
  gap: 50px;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 70px 40px;
}

.Home .hero h1 {
  font-weight: 900;
}

.Home .hero p {
  width: 520px;
}
/* ---------------------------------------- */

.Home .movieColumn p:first-child {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.Home .movies {
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  /* background-color: antiquewhite; */
}

.Home div:nth-child(2) .movieCard {
  width: fit-content;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ------------------------------------------------------------------- */

.movieView {
  position: absolute;
  top:15%;
  left: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 10px 20px 10px;
  border: 2px solid #333;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 800px;
}

.movieView img {
  width: 300px;
  height: auto;
  width: 100%;
  max-width: 800px;
  height: auto;
  object-fit: cover;
  image-rendering: auto;
}

.movieView h2 {
  color: black;
  font-size: 3rem;
  font-weight: 800;
}

.closeBtn {
  position: absolute;
  top: 1px;
  right: 2px;
  background: #f44336;
  color: white;
  border: none;
  padding: 2px 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 50%;
}
