.Login{
    padding: 0;
    margin: 0;
    z-index: -7;
    background-color: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
}

.Login .header{
    position: relative;
    color: #ffffff;
    z-index: 1;
}

.Login .header::before{
    content: "";
    height: 100%;
    width: 100%;
    background: radial-gradient(circle, rgba(0,0,0, 0.7) 10%, rgba(0, 0, 0, 0.8) 100%), url('../Images/Main/background.jpg');
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.Login .head1{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 8%;
    padding-top: 5px;
}

.Login .logo{
    height: 85px;
    width: 70%;
}

.Login .logo .img{
    padding-left: 20px;
    height: 90px;
    width: 210px;
    display: flex;
    justify-content: left;
    background-image: url('../Images/Main/Netflix_Logo_PMS.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.Login .lan{
    height: 35px;
    width: 130px;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 400;
    margin-right: 15px;
    padding-left: 15px;
}

.Login select{
    background-color: transparent;
    color: white;
}

.Login option{
    background-color: black;
    color: aliceblue;
}

.Login .sign{
    width: 235px;
}

.Login .sign button{
    height: 35px;
    width: 90px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    background-color: rgb(215, 18, 18);
    color: rgb(255, 255, 255);
}

.Login .head2{
    width: 100%;
    height: 50%;
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

.Login .head2 h1{
    color: white;
    font-weight: 900;
    font-size: 3.8rem;
}

.Login .head2 h5{
    color: white;
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 15px;
}

.Login .head2 h4{
    color: white;
    font-size: 1.1rem;
    font-weight: 400;
    margin: 40px 0 10px 0;
}

.Login .head3{
    width: 100%;
    height: 10%;
    padding-bottom: 162px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.Login .head3 .email{
    height: 60px;
    width: 400px;
    color: white;
    font-size: 1.2rem;
    padding-left: 20px;
    background-color: rgba(122, 182, 243, 0.2);
    backdrop-filter: blur(5px);
    display: inline;
    border-radius: 4px;
    border: 1px solid white;
}

.Login .head3 .email::placeholder{
    color: #ffffff;
}

.Login .head3 .email:active::placeholder{
    visibility: visible;
    font-size: 0.7rem;
}

.Login .head3 .email:valid{
    border: 1px solid green;
}

.Login .head3 .email:invalid{
    border: 1px solid rgb(255, 0, 0);
}


.Login .head3 button{
    display: inline;
    background-color: red;
    color: white;
    font-size: 1.3rem;
    height: 62px;
    width: 210px;
    border-radius: 4px;
    border: none;
    margin-left: 10px;
    padding: 0 20px 0 20px;
}


/* border-radius: 50% / 10%;
border-top: 5px solid linear-gradient(90deg,
rgba(255,0,0,0.8),
rgba(255,165,0,0.8),
rgba(0,0,255,0.8));; */
/* ----------------------------------------------------------------------------------------------------------------------------------------- */

.Login .body{
    position: relative;
    z-index: 1;
    border-top: 7px solid red;
    border-radius: 50% / 6%;
}

.Login .body::before{
    content: "";
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    /* background: radial-gradient(circle, rgba(0,0,0, 0.7) 10%, rgba(0, 0, 0, 0.8) 100%), url('../Images/Main/background.jpg'); */
    z-index: -1;
}

.Login .body1{
    width: 100%;
    height: 30%;
    padding: 30px 150px 50px 150px;
    background-color: #000000; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Login .body .font{
    color: white;
    height: 100%;
    width: 100%;
    margin-bottom: 5px;
}

.Login .body1 select{
    width: 100px;
    height: 40px;
    margin-right: 20px;
    border-radius: 5px;
    padding-left: 10px;
}

.Login .body1 .type{
    width: 130px;
}

.Login .body .movieCards{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: left;
    padding-top: 20px;
    gap: 50px;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
  -webkit-overflow-scrolling: touch; /* smooth scrolling on mobile */
  scrollbar-width: none; /* Firefox */
    /* background-color: skyblue; */
}

.Login .movieCards .mcard{
    width: fit-content;
    height: 100%;
}

.Login .movieCards .mcard:first-child{
    margin-left: 30px;
}

.Login .Card img{
    overflow: hidden;
    border-radius: 5%;
}

.Login .Card{
    position: relative;
}

.Login .Card h1{
    display: inline;
    -webkit-text-stroke: 2px white;
    font-weight: 900;
    font-size: 7rem;
    position: absolute;
    top: 150px;
    left: -30px;
    bottom: 145px;
    right: 30px;
    color: rgb(0, 0, 0);
    z-index: 2;
}

.Login .body2{
    width: 100%;
    height: 30%;
    padding: 0 0 50px 150px;
    background-color: #000000; 
    display: flex;
    flex-direction: column;
    color: #ffffff;
    margin-top: 20px;
}

.Login .body2 .textBoxes{
    display: flex;
    gap: 30px;
}

.Login .body2 .textBox{
    padding: 15px 15px 0 15px;
    height: 300px;
    width: 21%;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, #1a0c36, #2d1856, #341c64, #400447);
    position: relative;
}

.Login .body2 .textBox h3{
    height: 70px;
}

.Login .body2 .textBox p:last-child{
    height: 90px;
    width: 90px;
    position: absolute;
    bottom: 0;
    right: 10px;
    margin-top: 10px;
}

.Login .textBox p img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    mix-blend-mode: lighten;
}


.Login .body3{
    height: 40%;
    padding: 30px 150px 50px 150px;
}

.Login .body h2{
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 20px;
}

/* -------------------------------------------------------------------------------------------------------------------------------------- */

.Login .footer{
    padding: 50px 0 50px 0;
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
}

.Login .foot1{
    height: 25%;
    width: 100%;
}

.Login .foot1 h4{
    font-size: 1.1rem;
    font-weight: 400;
}

.Login .foot1{
    width: 100%;
    height: 25%;
}

.Login .foot1 .email{
    height: 60px;
    width: 600px;
    color: white;
    font-size: 1.2rem;
    padding-left: 20px;
    background-color: rgba(122, 182, 243, 0.2);
    backdrop-filter: blur(5px);
    display: inline;
    border-radius: 4px;
    border: 1px solid white;
}

.Login .foot1 .email::placeholder{
    color: #ffffff;
}

.Login .foot1 .email:active::placeholder{
    visibility: visible;
    font-size: 0.7rem;
}

.Login .foot1 .email:valid{
    border: 1px solid green;
}

.Login .foot1 .email:invalid{
    border: 1px solid rgb(255, 0, 0);
}


.Login .foot1 button{
    background-color: red;
    color: white;
    font-size: 1.3rem;
    height: 62px;
    width: 210px;
    border-radius: 4px;
    border: none;
    margin-left: 10px;
    padding: 0 20px 0 20px;
}

.Login .foot2{
    height: 75%;
    width: 100%;
    margin-top: 80px;
    padding-left: 150px;
    color: gray;

}

.Login .links{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Login .link{
    display: flex;
    justify-content: start;
    gap: 50px;
}

.Login .foot2 a{
    width: 160px;
    color: gray;
}

.Login .footer select{
    margin: 75px 0 75px;
}

.Login .foot2 h5{
    padding-bottom: 100px;
} 

/* ------------------------------------------------ */
.eachBox, .boxHead, .boxBody{
    background-color: rgb(96, 96, 96);
    color: #ffffff;
}

.fullBox{
    width: 80%;
}
/* ----------------------------------------------- */