.Navbar, .Navbar *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Navbar{
    background-color: black;
    height: 60px;
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
}

.Navbar .logo{
    width: 180px;
    height: 60px;
}

.Navbar .logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.Navbar .btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.Navbar .btns p{
    font-size: 0.8rem;
    color: white;
}

.Navbar .btns button:nth-child(2){
    padding: 5px 40px;
    border: none;
    border-radius: 1px;
    background-color: red;
    color: white;
    font-weight: 600;
}

.Navbar .btns button:nth-child(3){
    padding: 5px 20px;
    border: none;
    border-radius: 1px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: 600;
    border: 1px solid grey;
}