.Sign{
    background-color: aqua;
    min-height: 100vh;
    width: 100%;
    display: flex;
    /* gap: 30px; */
    flex-direction: column;
    background: radial-gradient(circle, rgba(0,0,0, 0.3) 10%, rgba(0, 0, 0, 0.8) 100%), url('../Images/Main/background.jpg');
}

.Sign *{
    margin: 0;
    padding: 0;
}

.Sign .header{
    height: 10%;
    width: 100%;
}

.Sign .header .img{
    margin: 5px 0 10px 76px; 
    padding-left: 20px;
    height: 90px;
    width: 210px;
    display: flex;
    justify-content: left;
    background-image: url('../Images/Main/Netflix_Logo_PMS.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.Sign .body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Sign .body form{
    background-color: rgb(0, 0, 0, 0.7);
    color: aliceblue;
    display: flex;
    flex-direction: column;
    padding: 40px 60px;
    gap: 15px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.Sign form h1{
    font-weight: 700;
    font-size: 2.3rem;
}

.Sign form input{
    height: 55px;
    width: 350px;
    background-color: rgb(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    border-radius: 4px;
    border: 1px solid grey;
    color: white;
    font-size: 1.2rem;
    padding-left: 20px;
    margin: 5px 0;
}

.Sign form input::placeholder{
    color: gray;
    font-weight: 600;
    font-size: 1.1rem;
}

.Sign .form input::placeholder{
    color: #ffffff;
}

.Sign .form input:empty{
    border: 1px solid rgb(255, 255, 255);
}

.Sign .form input:valid{
    border: 1px solid green;
}

.Sign .form input:invalid{
    border: 1px solid rgb(255, 0, 0);
}

.Sign form button{
    height: 45px;
    border-radius: 4px;
    border: none;
    color: white;
    background-color: red;
    font-weight: 600;
    font-size: 1.1rem;
}

.Sign form h5{
    text-align: center;
    font-weight: 400;
    color: grey;
}

.Sign form .second-btn{
    background-color: rgba(91, 91, 91, 0.5);
}

.Sign form .a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    font-size: 1.1rem;

}

.Sign form .check{
    display: flex;
    align-items: center;
}

.Sign .check input{
    height: 20px;
    width: 20px;
}

.Sign .check h6{
    margin-left: 10px;
    font-size: 18px;
    font-weight: 400;
}

.Sign .form .txt{
    display: flex;
    align-items: center;
}

.Sign .form .txt h6{
    margin: 0;
}

.Sign .form div:nth-child(9){
    gap: 10px;
}


.Sign .txt .b{
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.Sign .txt h6{
    font-size: 0.9rem;
    font-weight: 400;
    color: grey;
}

.Sign .txt .learn{
    color: rgb(66, 66, 200);
    font-size: 0.9rem;
    font-weight: 400;
    margin-left: 6px;
}

.Sign .footer{
    height: 75%;
    width: 100%;
    padding: 250px 0 60px 180px;
    background-color: rgb(0, 0, 0);
    color: grey;

}

.Sign .links{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.Sign .link{
    display: flex;
    justify-content: start;
    gap: 50px;
}

.Sign .footer a{
    width: 200px;
    color: gray;
}

.Sign .footer select{
    margin: 30px 0 10px 0;
    background-color: transparent;
    color: white;
    height: 35px;
    width: 130px;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 400;
    padding-left: 15px;
}

.Sign option{
    background-color: black;
    color: aliceblue;
}
